html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button:focus {
  outline: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #1B2432;
}

#root {
  height: 100%;
}